[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "methylGSA"]
	path = methylGSA
	url = https://github.com/reese3928/methylgsa
	shallow = true
	registered = true
[submodule "RNAAgeCalc"]
	path = RNAAgeCalc
	url = https://github.com/reese3928/rnaagecalc
	shallow = true
	registered = true
